<footer class="mt-5">
  <div class="container w-100 p-0">
    <div class="row w-100 pb-4 mx-auto">
      <h3 class="col text-center " routerLink="" (click)="scrollToElement('#home')">
        Home
        <hr class="hr25 mx-auto">
      </h3>
      <h3 class="col text-center" routerLink="" (click)="scrollToElement('#search');
      focusElement('#search')">Buscar <hr class="hr25 mx-auto"> </h3>
      <h3 class="col text-center" routerLink="mis-apuestas"> Mis apuestas <hr class="hr25 mx-auto"> </h3>
    </div>
    <div class="row w-100">
      <div class="col text-start text-main">
        web diseñada y desarrollada por <a href="https://gustavom12.github.io/GustavoMercado/">Gustavo Mercado</a>
      </div>
      <div class="col text-end text-main">
        <a href="https://api.whatsapp.com/send?phone=542994107678">En busca de colaboradores/patrocinadores</a>

      </div>
    </div>
  </div>
</footer>
